{% extends "layout.html" %}
{% set active_page = "admin" %}
{% block title %}Create User{% endblock %}

{% block heading %}
<div class="container-md my-2 py-2 text-center">
    <h1 class="display-3"><i class="bi bi-person-plus-fill"></i> Create New User</h1>
</div>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <!-- Username -->
                        <div class="mb-3">
                            {{ form.username.label(class="form-label") }}
                            {{ form.username(class="form-control") }}
                        </div>
                        <!-- Email -->
                        <div class="mb-3">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control") }}
                        </div>
                        <!-- Password -->
                        <div class="mb-3">
                            {{ form.password.label(class="form-label") }}
                            <div class="input-group">
                                <!-- ADD id here -->
                                {{ form.password(class="form-control", id="new-password-input") }}
                                <button class="btn btn-outline-secondary toggle-password-vis" type="button"><i class="bi bi-eye-fill"></i></button>
                            </div>
                        </div>
                        <!-- Confirm Password -->
                        <div class="mb-3">
                            {{ form.confirm_password.label(class="form-label") }}
                            <div class="input-group">
                                <!-- ADD id here -->
                                {{ form.confirm_password(class="form-control", id="confirm-password-input") }}
                                <button class="btn btn-outline-secondary toggle-password-vis" type="button"><i class="bi bi-eye-fill"></i></button>
                            </div>
                            <!-- ADD feedback div -->
                            <div id="password-match-feedback" class="invalid-feedback d-block"></div>
                        </div>
                        <!-- Role -->
                        <div class="mb-3">
                            {{ form.role.label(class="form-label") }}
                            {{ form.role(class="form-select") }}
                        </div>
                        <!-- Submit -->
                        {{ form.submit(class="btn btn-success") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}